<a href="https://colab.research.google.com/github/MRS028/AI-ML-Assignment-01/blob/main/Assignment02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Email Address: skrifat483@gmail.com**

In [ ]:
import numpy as np
import pandas as pd

np.random.seed(42)

ids = np.arange(1, 11)
ages = np.random.randint(18, 60, 10)
salaries = np.random.randint(30000, 90000, 10)
departments = np.array(["HR", "IT", "Finance", "IT", "HR", "Sales", "Finance", "IT", "Sales", "HR"])

DF = pd.DataFrame({
"id": ids,
"age": ages,
"salary": salaries,
"dept": departments
})

DF.to_csv("employees.csv", index=False)
print("Sample Data Created and Saved as employees.csv")

Sample Data Created and Saved as employees.csv

**Answer to te question No:Q1**

In [ ]:
ages_array = np.array(ages)
salaries_array = np.array(salaries)

print("Ages Array:", ages_array)
print("Salaries Array:", salaries_array)

print("\nAges Array Properties:")
print("dtype:", ages_array.dtype)
print("ndim:", ages_array.ndim)
print("shape:", ages_array.shape)
print("size:", ages_array.size)

print("\nSalaries Array Properties:")
print("dtype:", salaries_array.dtype)
print("ndim:", salaries_array.ndim)
print("shape:", salaries_array.shape)
print("size:", salaries_array.size)

Ages Array: [56 46 32 25 38 56 36 40 28 28]
Salaries Array: [77191 74131 46023 71090 31685 30769 89735 86101 32433 35311]

Ages Array Properties:
dtype: int64
ndim: 1
shape: (10,)
size: 10

Salaries Array Properties:
dtype: int64
ndim: 1
shape: (10,)
size: 10

**Answer to te question No:Q2**

In [ ]:
max_salary = np.max(salaries_array)
min_salary = np.min(salaries_array)
avg_salary = np.mean(salaries_array)
avg_age = np.mean(ages_array)

print("Highest Salary:", max_salary)
print("Lowest Salary:", min_salary)
print("Average Salary:", round(avg_salary, 2))
print("Average Age:", round(avg_age, 2))

Highest Salary: 89735
Lowest Salary: 30769
Average Salary: 57446.9
Average Age: 38.5

**Answer to te question No:Q3**

In [ ]:
age_condition = ages_array > 30
ages_above_30 = ages_array[age_condition]
count_above_30 = np.sum(age_condition)

print("Ages greater than 30:", ages_above_30)
print("Number of employees older than 30:", count_above_30)

Ages greater than 30: [56 46 32 38 56 36 40]
Number of employees older than 30: 7

**Answer to te question No:Q4**

In [ ]:
updated_ages = ages_array + 5

print("Original Ages Array:", ages_array)
print("Updated Ages Array (+5 years):", updated_ages)
print("Original array unchanged:", ages_array)

Original Ages Array: [56 46 32 25 38 56 36 40 28 28]
Updated Ages Array (+5 years): [61 51 37 30 43 61 41 45 33 33]
Original array unchanged: [56 46 32 25 38 56 36 40 28 28]

**Answer to te question No:Q5**

In [ ]:
total_salary_expense = np.sum(salaries_array)
salary_difference = np.ptp(salaries_array)

print("Total Salary Expense(sum of all salaries):", total_salary_expense)
print("Difference between Max & Min Salary:", salary_difference)

Total Salary Expense(sum of all salaries): 574469
Difference between Max & Min Salary: 58966

**Answer to te question No:Q6**

In [ ]:
df = pd.read_csv("employees.csv")

print("First 5 rows:\n", df.head())
print("\nDataFrame Info:")
print(df.info())
print("\nSummary Statistics:\n", df.describe())

First 5 rows:
    id  age  salary     dept
0   1   56   77191       HR
1   2   46   74131       IT
2   3   32   46023  Finance
3   4   25   71090       IT
4   5   38   31685       HR

DataFrame Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      10 non-null     int64
 1   age     10 non-null     int64
 2   salary  10 non-null     int64
 3   dept    10 non-null     object
dtypes: int64(3), object(1)
memory usage: 452.0+ bytes
None

Summary Statistics:
              id       age        salary
count  10.00000  10.00000     10.000000
mean    5.50000  38.50000  57446.900000
std     3.02765  11.16791  24357.262884
min     1.00000  25.00000  30769.000000
25%     3.25000  29.00000  33152.500000
50%     5.50000  37.00000  58556.500000
75%     7.75000  44.50000  76426.000000
max    10.00000  56.00000  89735.000000

**Answer to te question No:Q7**

In [ ]:
selected_columns = df[['id', 'age', 'salary']]
print("selected_columns (id, age, salary):\n", selected_columns)

print("\nLast 3 rows:\n", df.tail(3))

selected_columns (id, age, salary):
    id  age  salary
0   1   56   77191
1   2   46   74131
2   3   32   46023
3   4   25   71090
4   5   38   31685
5   6   56   30769
6   7   36   89735
7   8   40   86101
8   9   28   32433
9  10   28   35311

Last 3 rows:
    id  age  salary   dept
7   8   40   86101     IT
8   9   28   32433  Sales
9  10   28   35311     HR

**Answer to te question No:Q8**

In [ ]:
it_employees = df[df['dept'] == 'IT']
print("Employees in IT Department:\n", it_employees)

print("\nTotal IT Employees:", len(it_employees))

Employees in IT Department:
    id  age  salary dept
1   2   46   74131   IT
3   4   25   71090   IT
7   8   40   86101   IT

Total IT Employees: 3

**Answer to te question No:Q9**

In [ ]:
top_paid = df.sort_values(by='salary', ascending=False).head(3)
print("Top 3 Highest Paid Employees:\n", top_paid[['id', 'dept', 'age', 'salary']])

Top 3 Highest Paid Employees:
    id     dept  age  salary
6   7  Finance   36   89735
7   8       IT   40   86101
0   1       HR   56   77191

**Answer to te question No:Q10**

In [ ]:
df.loc[df['salary'] > 80000, 'salary'] = 80000
print("Updated DataFrame:\n", df)

new_avg_salary = df['salary'].mean()
print("\nNew Average Salary after Replacement:", round(new_avg_salary, 2))

Updated DataFrame:
    id  age  salary     dept
0   1   56   77191       HR
1   2   46   74131       IT
2   3   32   46023  Finance
3   4   25   71090       IT
4   5   38   31685       HR
5   6   56   30769    Sales
6   7   36   80000  Finance
7   8   40   80000       IT
8   9   28   32433    Sales
9  10   28   35311       HR

New Average Salary after Replacement: 55863.3